name: Tests

env:
  PYTEST_VERSION: 7.4.4

on:
  push:
    branches: [master]
    tags: ["*"]
  pull_request:
    branches: [master]

jobs:
  tests:
    name: Test with Python ${{ matrix.python_version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python_version: ["3.8", "3.9", "3.10", "3.11", "3.12"]
      fail-fast: false
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python_version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python_version }}

      - name: Install poetry and tox
        shell: bash
        run: |
          pip install pytest==${PYTEST_VERSION}

      - name: Run tox
        shell: bash
        run: |
          python -m pytest -vvv tests/
